
<!-- <div class="container mt-3">
    <router-outlet></router-outlet>
</div> -->
<div id="app">
  
    <nav class="navbar navbar-expand navbar-dark ">
      <app-menu></app-menu>
      <a href="/home" class="navbar-brand" ><img src="assets/netflix.png" height="80px" width="120px"/></a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        
        
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link " routerLink="register" style="color: red;">Registrarse</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link " routerLink="login" style="color: rgb(128, 128, 187);">Ingresar</a>
        </li>
        <li>
          <a href="/profile" class="nav-link" routerLink="profile"> <img (click)="toggleSubMenu()" mat-card-image src="https://img.freepik.com/iconos-gratis/usuario_318-552176.jpg"
            alt="Usuario" class="user-avatar" height="50px" width="50px"/> </a>
        </li>
   
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>

      
    </nav>
    <app-navbar></app-navbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  